@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

.sidebar {
    background-color: #b0adbf;
    color: #000;
}

.sidebar a, .sidebar-about h1 {
    color: #000;
}

html {
    font-family: 'Roboto', 'Montserrat', 'Open Sans', Helvetica, sans-serif;
}