@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

.sidebar {
    background-color: #b9b9be;
    color: #000;
}

.sidebar a, .sidebar-about h1 {
    color: #000;
}

.lead {
    font-size: 0.75rem;
    font-weight: 300;
}

body {
    color: #515151;
    background-color: #faf8f8;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

html {
    font-family: 'Roboto', 'Segoe UI', 'Montserrat', 'Open Sans', Helvetica, sans-serif;
}

/* .gfg {
    width:auto;
    text-align:center;
    padding:20px;
}
img {
    width: 50%;
    height: auto;
    object-fit: contain;
} */