@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&family=Lato:wght@400;700&family=Open+Sans:wght@400;700&display=swap");

html {
    font-family: 'Lato', 'Open Sans', 'Ubuntu';
}

.sidebar {
    background-color: #ffffff;
    color: #000;
}

.sidebar a, .sidebar-about h1 {
    color: #000;
}

/* .sidebar-nav { */
    /* text-align: left; */
    /* margin-left: 50px; */
/* }  */

.lead {
    font-size: 0.75rem;
    font-weight: 300;
}

body {
    color: #515151;
    background-color: #ffffff;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

/* .gfg {
    width:auto;
    text-align:center;
    padding:20px;
}
img {
    width: 50%;
    height: auto;
    object-fit: contain;
} */
