{{ define "main" -}}

<!DOCTYPE html>
<!-- <html style="font-size: 16px;"> -->
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Hey! I'm Alex">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <!-- <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"> -->
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"url": "index.html"
}</script>
    <meta property="og:title" content="Page 1">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
    <link rel="canonical" href="index.html">
    <meta property="og:url" content="index.html">
  </head>
  <body data-home-page="Page-1.html" data-home-page-title="Page 1" class="u-body"><header class="u-align-left u-clearfix u-header u-header" id="sec-cd35"><div class="u-clearfix u-sheet u-sheet-1"></div></header>
    <section class="u-clearfix u-section-1" id="carousel_ae69">
      <div class="u-clearfix u-sheet u-sheet-1">
        <img src="images/yen_home_pic.jpg" alt="" class="center" data-image-width="2176" data-image-height="2304" width="359" height="378">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-left-cell u-size-60 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <h2 class="">Hey! I'm Alex</h2>
                  <!-- <h6 class="u-custom-font u-font-roboto u-text u-text-default u-text-2">I’m a first year CSE PhD student UCSD advised by <a href="https://patpannuto.com/" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1">Pat Pannuto</a>. I'm interested in deployable, sensing systems that can react to and impact real-world environments. Before coming to UCSD, I completed my bachelors degree in Computer Engineering at UMass Amherst, where I worked with <a href="https://blogs.umass.edu/jtaneja/" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-2">Jay Taneja</a>. -->
                  <!-- </h6> -->
                  <p>I’m a first year CSE PhD student at UCSD advised by <a href="https://patpannuto.com/" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1">Pat Pannuto</a>. I'm interested in deployable, sensing systems that can impact real-world environments. Before coming to UCSD, I completed my bachelors degree in Computer Engineering at UMass Amherst, where I worked with <a href="https://blogs.umass.edu/jtaneja/" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-2">Jay Taneja.</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    </section>
  </body>
</html>

  {{ template "_internal/pagination.html" . }}
{{- end }}
